@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .note-editor.note-frame .note-editable{@apply text-white bg-gray-900;}
  .note-editor .note-placeholder{color:rgba(255,255,255,.55)!important;}
}
